body {
    text-align: center;
    margin-top: 150px;
}

h1 {
    color: red;
    margin-bottom: 50px;
}

input[type="date"] {
    height: 25px;
    border: 2px solid #000;
    cursor: pointer;
}

input[type="button"] {
    padding: 5px 10px;
    color: red;
    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
}

input[type="button"]:hover {
    border: 2px solid red;
    color: #000;
}

#age {
    margin-top: 50px;
    font-size: 30px;
}

b {
    color: red;
}